<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="equityrandom" class="domain.EquityGenerator" scope="prototype"/>
<bean id="loandeporandom" class="domain.LoanDepositGenerator" scope="prototype"/>
<bean id="xml" class="generals.OutputXML" scope="prototype"/>
<bean id="csv" class="generals.OutputCSV" scope="prototype">
  <constructor-arg type="boolean" value="true"/> <!-- Normalized -->
</bean>
<bean id="hbase" class="generals.OutputHBase" scope="prototype"/>
</beans>
