<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="equitygenerator" class="domain.EquityGenerator" scope="prototype"/>
<bean id="loandepogenerator" class="domain.LoanDepositGenerator" scope="prototype"/>
<bean id="outputxml" class="generals.OutputXML" scope="prototype"/>
<bean id="outputcsv" class="generals.OutputCSV" scope="prototype"/>
</beans>
